.BreakdownSummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 auto;
  overflow: scroll;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 10px 0;
}

.Item {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 10px;
  padding: 7px;
}

.Item h2 {
  margin: 0;
}

.Primary {
  border: 1px solid var(--primary);
}

.Danger {
  border: 1px solid var(--danger);
}

.Buttons {
  margin: 10px 0;
  width: 90%;
}

.Buttons button {
  margin: 10px auto;
}

.Add {
  bottom: 10px;
  position: absolute;
  width: 90%;
}
