.BreakdownSummary {
  height: 100%;
  overflow: scroll;
  text-align: center;
}

.Item {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 10px;
  padding: 7px;
}

.Item h2 {
  margin: 0;
}

.Primary {
  border: 1px solid var(--primary);
}

.Danger {
  border: 1px solid var(--danger);
}

.Buttons {
  height: calc(100% - 38px - 60px - 43px - 15px);
}

.FullButtons {
  height: calc(100% - 38px -43px)
}

.BreakdownSummary > button {
  margin: 0 auto;
}

.Buttons > button,
.FullButtons > button {
  margin: 15px auto;
}
