.Navbar {
  bottom: 10px;
  left: 0;
  position: absolute;
  right: 0;
}

.Navbar > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  width: 500px;
  margin: auto;
}
