.Button {
  background-color: var(--white);
  border: none;
  font-weight: bold;
  outline: none;
  padding: 0;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  transform: scale(0.97);
}

.Button:disabled {
  color: var(--disabled);
  cursor: not-allowed;
  fill: var(--disabled);
}

.Button.Dual {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
}

.Button.ShowProgress {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}

.ButtonInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  width: 100%;
}

.TopRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  width: 100%;
}

.BottomRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10px;
  justify-content: space-between;
  width: 100%;
}

.Split {
  height: 40px;
  position: relative;
}

.Split:after{
  border-top: 1px solid var(--white);
  box-shadow:
    0 4px 4px var(--black-shadow-harsh),
    0 1px 1px var(--black-shadow);
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: 100% 100%;
  width: 55px;
}

.Button.Active {
  color: var(--white);
}

.Button.Active:hover {
  cursor: default;
}

.Button.Active:active {
  transform: none;
}

.Primary.Active {
  background-color: var(--primary);
}

.Neutral.Active {
  background-color: var(--neutral);
}

.Danger.Active {
  background-color: var(--danger);
}

.Primary {
  color: var(--primary);
}

.Neutral {
  color: var(--neutral);
}

.Danger {
  color: var(--danger);
}

.Default {
  color: var(--default);
}

.Large {
  border-radius: 25px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 32px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 100%;
}

.Large:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Medium {
  border-radius: 20px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 28px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 160px;
}

.Medium:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Small {
  border-radius: 20px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 20px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 160px;
}

.Small:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Thin {
  border-radius: 13px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 24px;
  height: 40px;
  text-shadow:
  2px 2px 2px var(--white-shadow);
  width: 100%;
}

.Thin:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Square {
  border-radius: 20px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 28px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 60px;
}

.Square:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.SquareSmall {
  border-radius: 14px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 20px;
  height: 45px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 45px;
}

.SquareSmall:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Square.Primary.Active,
.SquareSmall.Primary.Active {
  box-shadow:
    inset -6px -6px 9px var(--primary-shadow),
    inset 6px 6px 9px var(--black-shadow);
  text-shadow: none;
}

.Square.Neutral.Active,
.SquareSmall.Neutral.Active {
  box-shadow:
    inset -6px -6px 9px var(--neutral-shadow),
    inset 6px 6px 9px var(--black-shadow);
  text-shadow: none;
}
