.Button {
  background-color: var(--white);
  border: none;
  font-weight: bold;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  transform: scale(0.97);
}

.Primary {
  color: var(--primary);
}

.Neutral {
  color: var(--neutral);
}

.Large {
  border-radius: 30px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 48px;
  height: 100px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 400px;
}

.Large:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}
