.Button {
  background-color: var(--white);
  border: none;
  font-weight: bold;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  transform: scale(0.97);
}

.Button.Active {
  background-color: var(--primary);
}

.Button.Active:hover {
  cursor: default;
}

.Button.Active:active {
  transform: none;
}

.Primary {
  color: var(--primary);
}

.Primary.Active {
  color: var(--white);
}

.Neutral {
  color: var(--neutral);
}

.Neutral.Active {
  color : var(--neutral);
}

.Large {
  border-radius: 25px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 32px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 400px;
}

.Large:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Square {
  border-radius: 20px;
  box-shadow:
    -6px -6px 9px var(--white-shadow),
    6px 6px 9px var(--black-shadow);
  font-size: 28px;
  height: 60px;
  text-shadow:
    2px 2px 2px var(--white-shadow);
  width: 60px;
}

.Square:active {
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
}

.Square.Active {
  box-shadow:
    inset -6px -6px 9px var(--primary-shadow),
    inset 6px 6px 9px var(--black-shadow);
  text-shadow: none;
}
