.Yearly {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Main {
  align-items: center;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
}

.Summaries {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin: 10px 0; */
  width: 33%;
}
