.Input {
  background-color: var(--white);
  border: none;
  border-radius: 25px;
  box-shadow:
    inset -6px -6px 9px var(--white-shadow),
    inset 6px 6px 9px var(--black-shadow);
  font-family: inherit;
  font-size: 20px;
  height: 60px;
  resize: none;
  outline: none;
  text-align: center;
}

.Input::placeholder {
  font-size: 20px;
}

.Primary, .Primary::placeholder {
  color: var(--primary);
}

.Neutral, .Neutral::placeholder {
  color: var(--neutral);
}

.Danger, .Danger::placeholder {
  color: var(--danger);
}
