.BreakdownAddModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.Inputs, .Buttons {
  margin: auto;
  width: 100%;
}

.Inputs > input, .Buttons > button {
  margin-bottom: 10px;
}
