/* .Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.Column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} */

.Profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Main {
  align-items: center;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 33%;
}
