html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--white);
  color: var(--default);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #05F29B;
  --neutral: #65C8FF;
  --danger: #FF6565;
  --default: #CF79F7;
  --disabled: #E0DCDC;
  --white: #F2F2F2;
  --black: #313131;
  --primary-shadow: #8DEFCB;
  --neutral-shadow: #93D5FA;
  --black-shadow: rgba(0, 0, 0, 0.16);
  --black-shadow-harsh: rgba(0, 0, 0, 0.35);
  --white-shadow: rgba(255, 255, 255, 0.69);
  --category-1: #05F21D;
  --category-2: #05F2E4;
  --category-3: #05B9F2;
  --category-4: #F205CC;
  --category-5: #F28505;
  --category-6: #F2A105;
  --category-7: #EDF205;
}

.primary {
  color: var(--primary);
}

.neutral {
  color: var(--neutral);
}

.danger {
  color: var(--danger);
}

.default {
  color: var(--default);
}
