html, body, #root {
  height: 100%;
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #05F29B;
  --neutral: #65C8FF;
  --danger: #FF6565;
  --white: #F2F2F2;
  --black: #313131;
  --primary-shadow: #8DEFCB;
  --black-shadow: rgba(0, 0, 0, 0.16);
  --white-shadow: rgba(255, 255, 255, 0.69);
}

.primary {
  color: var(--primary);
}

.neutral {
  color: var(--neutral);
}

.danger {
  color: var(--danger);
}
