.TypeDetailModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.TypeDetailModal > h2,
.Buttons > button {
  margin-bottom: 15px;
}
