.TypeSummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 auto;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.Buttons {
  margin: 10px 0;
  width: 90%;
}

.Buttons button {
  margin: 10px auto;
}

.Add {
  bottom: 10px;
  position: absolute;
  width: 90%;
}
