.TypeSummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
}

.Buttons {
  margin-top: 10px;
  width: 90%;
}

.Buttons button {
  margin: 10px auto;
}

.Add {
  margin-bottom: 10px;
}
